table{
    font-family : Helvetica, sans-serif;
    border-collapse: collapse;
    border-width   : 1px;
    border-style   : solid;
    border-color   : #0c0a53;
}

th {
     font-weight: 800;
     background-color: #091074;
     color           : #ffffff;
}